# pasta de compilados do IntelliJ
out/

# arquivos compilados
*.class

# configurações da IDE
.idea/

# Kotlin
.kotlin

# macOS
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
